# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs & Database
*.log
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# PyCharm
.idea/

# Docker
*.dockerignore
Dockerfile~

# Railway
*.log
*.sqlite3
